.MuiPickersLayout-root {
  height: auto;
  width: 100%;
  color: blue;
}

.css-gqp4xl-MuiPickersLayout-root {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: auto;
  width: 30%;
  gap:6px;

}

/* ocultamos el button di CANCEL */
.MuiDialogActions-root button:first-child {
  display: none; /* Oculta el primer botón (Cancel) */
}

.MuiPickersToolbar-root {
  background: orange;
}

.MuiStack-root{
  display: flex;
  /* flex-direction: column; */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */

}


.css-10o21yd-MuiStack-root{
  display: flex;
  /* flex-direction: column; */

}