/* 
  @media (max-width: 640px) {
    table {
      display: block;
      overflow-x: auto;
      width: 100%;
    
    }

    thead {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }

    td {
      border: none;
      position: relative;
      padding: 10px;
      text-align: left;
    }

    td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      top: 10px;
      font-weight: bold;
      font-size: 0.9em;
      color: #666;
    }
  } */
