
  
  /* ocultamos el button di CANCEL */
  /* .MuiDialogActions-root button:first-child {
    display: none; /* Oculta el primer botón (Cancel) */
  



  
  .MuiPickersToolbar-root {
    background: #ff9900;
    /* background: orange; */
    
  }
  
  .MuiDayCalendar-monthContainer{
    background: #FFC525;
  }

  .MuiDateCalendar-root{
    background: #FFC525;
    opacity: 0.7;
  }

  .MuiDialogActions-root{
    background: #FFC525;
    opacity: 0.7;
  }

  .MuiFormLabel-root {
    font-weight: 800 !important;
    color:black!important;
    font-size:1.1rem !important;

}


